<h1>Welcome to FoodPlate!</h1>
<p>FoodPlate is the best way to find reviews on local restaurants. This application lists down the major restaurants and eateries in your area and publishes crowd-sourced reviews about a particular restaurant. Reviewers are encouraged to use real names while signing up. </p>

