<h1>Welcome to FoodPlate!</h1>
<p>This application lists down the major restaurants and eateries in your area and publishes crowd-sourced reviews about a particular restaurant. Reviewers are encouraged to use real names and photos. Users can give a review a "thumbs-up" if it is "useful, funny or cool. </p>

