<h1>Welcome to Yelpdemo!</h1>
<p>This is a sample application on Rails, a project that helped me better understand the nuances of <a href="https://www.udemy.com">Ruby on Rails</a> programming language. Sign up and start learning today!</p>

