.jumbotron {
	background-color: #fdf5d6;
	border: 1px solid #f2cb3b;
	h2 {
		color: #1b5687;
		font-weight: bold;
	}
}

.navbar-default {
	.container-fluid{
		background-color: #583F7E;
		.navbar-nav > li > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}
		.navbar-brand {
			color: black;
			font-size: 30px;
			font-weight: bold;
			font-family: 'Hobo Std';
			text-shadow: 2px 0 0 #b9d4ea, -2px 0 0 #b9d4ea, 0 2px 0 #b9d4ea, 0 -2px 0 #b9d4ea, 1px 1px #b9d4ea, -1px -1px 0 #b9d4ea, 1px -1px 0 #b9d4ea;
		}
	}
}

.container-fluid {
	padding: 10px 120px;
}